.business-landing-container{
    height: 100vh;
    padding-bottom:100px;
    background-color:#ecf6ff;
}
.business-img{
    padding :20px 0px 20px 0px;
    margin-bottom: 20px;
    background-image: url('../../public/assets/images/frontAssets/HAND\ PICKED.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 400px;
    box-shadow: 2px 7px 5px 0px rgba(194,203,210,0.75);
    -webkit-box-shadow: 2px 7px 5px 0px rgba(194,203,210,0.75);
    -moz-box-shadow: 2px 7px 5px 0px rgba(194,203,210,0.75);
}
.content-business-landing p{
    font-size: 10px;
}
.title-business-landing h2{
    font-size: 1.2em ;
    text-transform: uppercase;
}
.back-btn{
    border: 1px solid #747677;
    width: 110px;
    font-size: 10px !important;
    text-transform: uppercase;
}
.proceed-btn{
    width: 110px;
    font-size: 10px!important;
    text-transform: uppercase;
}
.label-business-agree{
    font-size: 8px;
    height: 100%;
}
.business-textarea{
    color:#747677;
    font-size: 12px;
    min-height: 120px;
}
.business-textarea::placeholder{
    font-size: 10px;
}
.browse-logo{
    background-color: #646464;
    color:white;
    border:none;
    width: 100%;
    height: 20px;
    border-radius: 2.5px;
    font-size: 10px;
    text-transform: capitalize;
}
.logo-container{
    height: 100%;
    width: 100%;
    border: 1px solid #646464;
    background-color: white;

}
.skip-check{
    font-size: 10px;
    display: flex;
    padding: 3px;
}
.nav-style{
    background-color: #ecf6ff;
}
.nav-style ul{
  border-bottom: none;
}
.nav-link-style,.nav-link-style:active{
    background-color: #ecf6ff !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.nav-link-style::before{
    content: '';
    position: relative;
    height: 10px;
    width: 10px;
    top:10;

    background-color: red;
}
