.careerSection {
    background-color: white;

}

.findOutMore {
    border: 1px solid #007bff!important;
    border-radius: 20px !important;
    color: #007bff !important;
}

.findOutMore:hover {
    background-color: #007bff !important;
    color: #fff !important;
}
.img-career-container1{
    background-image: url('../../public/assets/images/frontAssets/social-media@2x.png');
}
.img-career-container2{
    background-image: url('../../public/assets/images/frontAssets/content@2x.png');
}
.img-career-container3{
    background-image: url('../../public/assets/images/frontAssets/credit-card@2x.png');
}
.img-career-container4{
    background-image: url('../../public/assets/images/frontAssets/digital-assistant@2x.png');
}
.img-career-container5{
    background-image: url('../../public/assets/images/frontAssets/30-appointment@2x.png');
}
.img-career-container6{
    background-image: url('../../public/assets/images/frontAssets/media-monitor-screen-Digital\ Marketing@2x.png');
}
.img-career-container1,
.img-career-container2,
.img-career-container3,
.img-career-container4,
.img-career-container5,
.img-career-container6{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
}
.carrer-box{
    width: 100% !important;
}
.career-margin{
    margin-bottom: 80px;
}
