//Front Page Start
// .frontSection-1,
// .frontSection-2,
// .frontSection-3,
// .frontSection-4,
.frontSection-5,
.frontSection-6,

.aboutSection-1,
.aboutSection-2,
.aboutSection-3,
.aboutSection-4,

.pricingSection-1,
.pricingSection-2 {
    padding: 100px 200px !important;
}

.carousel-1{
    background-image: url('../../public/images/frontAssets/hero_new.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:1;
}

.carousel-2{
    background-image: url('../../public/images/contactAssets/bgimagecontactus@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:1;
}
.carousel-3{
    background-image: url('../../public/images/pricingAsssets/bgimagepricing@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:1;
}

.frontSection-1 {
    // background-image: url('../../public/images/frontAssets/hero_new.jpg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

        .container-fluid{
            position: absolute;
            padding: 0px 200px;
            height: 100vh;
            z-index:4;
        }

        h1 {
            color: #fff;
            font-size: 4.3rem;
            font-weight: 100;
            line-height: 4rem;
            max-width: 46rem;
        }

        p {
            color: #fff;
            font-size: 1.37rem;
            line-height: 1.7rem;
            max-width: 46rem;
        }

        .btn-cta {
            min-width: 200px !important;
            border: 1px solid #fff !important;
            border-radius: 10px !important;
            background-color: rgb(0,0,0, 0) !important;
            color: #fff !important;
            font-size: 1rem !important;
            height: auto;
            margin-bottom: 1rem;

        }

        form {
            background-color: #fff;
            border-radius: 8px;
            padding: 12px;
            // min-width: 500px;
            width: 46rem;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);

            input, select {
                height: auto;
                font-size: 1rem;
                color:#c2c2c2;
                margin: 0px 0.5rem;
            }

            input::placeholder{
                color: #c2c2c2;
            }

            .btn-search {
                background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,148,255,1) 54%, rgba(0,123,255,1) 100%);
                color:#fff;
                border: 0;
            }

        }
}


.frontSection-2 {

    background-image: url('../../public/images/frontAssets/landing-2-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .leftColumn {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        img{
            position: absolute;
            bottom: 0px;
            left: -159px;
            height: 673px;
            z-index: 1;
        }
        .opacity_div{
            background:#0469d5;
            height: 235px;
            width: 297px;
            position:absolute;
            bottom:0;
            left: 269px;
            z-index:2;
            box-shadow: 2px 1px 400px 200px rgba(4,105,213,1);
            -webkit-box-shadow: 2px 1px 400px 200px rgba(4,105,213,1);
            -moz-box-shadow: 2px 1px 400px 200px rgba(4,105,213,1);
             opacity:0.6;
        }


        h2 {
            color: #fff;
            font-weight: 200;
            font-size: 2.3rem;

        }

        p {
            font-size: 1.1rem;
            padding-top: 20px;
            color: #fff;
            font-weight: 200;
            max-width: 500px;
            margin:auto;

        }
        .border-top{
            border-top-style: solid !important;
            border-top-width: 4px !important;
            border-color: #fff;
        }



    }

    .rightColumn {

        .card {
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            // padding: 1rem 2rem;

            h2 {
                font-weight: 600;
                margin-bottom: 1rem;
                padding: 0px 4rem;
                color: #646464;
                font-size: 2rem;
                text-align: center;
            }

            h4{
                font-size: 36px;
                color: #767676;
                text-align: center;
                font-family: "Segoe UI",sans-serif;
            }

            p {
                font-size: 16px;
                color: #9c9c9c;
                text-align: center;
            }

            span {
                color: #7d7d7d;
                padding-left: 7rem;
                font-size: 18px;
                padding: 0rem 8rem;
                text-align: left;
            }

        }

    }



    .btn-hire {
        background-color: rgb(218, 82, 82);
        height: 80px;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
        color: #fff;
        padding: 6px 2px;
        width: 500px;
    }
}

.frontSection-3 {

    background-image: url('../../public/images/frontAssets/Video\ Background\ Image@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    padding: 100px;

    .inner {
        padding: 5rem 24rem;

        h2 {
            font-size: 80px;
            color: #fff;
            letter-spacing: -5px;
        }

    }

}

.frontSection-4 {
    background-color: white;

    // .card {
    //     // min-height: 16rem;
    // }

    // h2 {
    //     font-size: 3rem;
    //     font-weight: bold;
    // }

    // img {
    //     padding: 20px 60px;
    // }

    .row {
        margin: 20px 0px;
    }

}

.frontSection-5 {
    background-color: #e1e1e1;

    h2, h4, p {
        text-align: center;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
    }

    .row {
        margin: 20px 0px;
    }

}

.frontSection-6 {
    background-color: #7cc0fa;

    .bgImg {
        background-image: url('../../public/images/frontAssets/blog-imag01@2x.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 260px;
        width: 100%;
    }

    .userImg {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .userContext {
        margin-left: 10px;
        width: 150px;
    }

    .readMoreBtn {
        height: 40px;
        color: blue;
        border: 1px solid blue;
        border-radius: 20px;
    }

}

//Front Page End

//About Page Start

.aboutSection-1 {
    background: url('../../public/images/aboutAssets/about-banner.jpg');
    height: 100vh;
    align-items: center;
    display: flex;

    h2 {
        border-right: 2px solid !important;
    }

}

.aboutSection-2 {

    h2 {
        border-right: 4px solid;
        padding-right: 46px;
    }

    .testimonial {
         padding: 2rem 4rem !important;

         .col-md-8 {
            background: url('../../public/images/aboutAssets/imgqoutebg.png');
            background-size: cover;
            background-position: center;
            padding: 2rem 0rem;
         }

    }


}

.aboutSection-3 {

    h2 {
        font-size: 4rem;
        letter-spacing: -4px;
    }

    .subTitle {
        padding: 0rem 28rem;
    }

    .col-md-2 {

        img {
            padding: 2rem 4rem !important;
        }

    }

    .card {

        min-height: 34rem !important;

    }

}

.aboutSection-4 {
    background: url('../../public/images/aboutAssets/bgimagemrkenn.png');
    min-height: 73rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    .col-md-6 {

        margin-top: 12rem;
        padding: 0rem 4rem;

        .card {

            padding: 4rem;
        }
    }

}

//About Page End

//Pricing Page Start

.pricingSection-1 {
    background: url('../../public/images/pricingAsssets/bgimagepricing@2x.png') no-repeat center center;
    background-size: cover;
    background-color: rgb(126, 92, 92);
    height: 100vh;
    display: flex;
    align-items: center;

    h2 {
        font-size: 4.5rem;
        line-height: 60px;
        letter-spacing: -2px;
        color: #fff;
    }
}

.pricingSection-2 {
    padding-top: 0px !important;

    .card {
        padding: 100px;
        border-radius: 20px !important;
        margin-top: -60px;

        h2 {
            font-size: 2.5rem;
            letter-spacing: -1px;
            line-height: 40px;
        }
    }
}

//Pricing Page End

.chat-container{
    position: relative;
}
.chat-support{
    position: fixed;
    bottom: 10%;
    right: 10%;
    background-image: url('../../public/images/frontAssets/ChatSupportButton@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.content-container{
    display:flex;
    height: 100%;
    width: 100% !important;
    max-width: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1440px) {

    .frontSection-1 {
        display: flex;
        align-items: center;
       .container-fluid{
        padding: 0px 94px !important;
       }
        h1 {
            font-size: 3rem;
            font-weight: 100;
            line-height: 3rem;
            max-width: 33rem;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.4rem;
            max-width: 33rem;
        }
        form{
            width: 33rem;
        }

    }

    .frontSection-2 {

        background-position: unset;

        .leftColumn {
            margin-top: 18rem;

            img{
                left: -234px;
                height: 600px;
            }
            .opacity_div{
                height: 262px;;
                width: 266px;
                left: 139px;
                 opacity:0.6;
            }

        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
        }

        .rightColumn {
            padding: 0.5rem 1rem;

            h2 {
                font-size: 20px !important;
            }

            p {
                font-size: 26px !important;
            }

            span {
                font-size: 12px !important;
                padding: 0rem 4rem !important;
            }
        }
    }

    .frontSection-3 {

        .inner {
            padding: 0px 210px;

            h2 {
                font-size: 68px;
                line-height: 55px;
            }
        }

    }

    // .frontSection-4 {

    //     h2 {
    //         font-weight: normal;
    //     }

    //     .card {

    //         min-height: 11rem;

    //         img {
    //             padding: 20px 40px;
    //         }

    //         h4 {
    //             font-size: 16px;
    //             margin: 0.5rem 0rem !important;
    //         }

    //     }

    // }

    .frontSection-5 {

        h2 {
            font-weight: normal;
        }

    }


}

@media screen and (max-width:1024px) {

    .frontSection-1 {
        // padding: 0rem 4rem;


        h1 {

            font-size: 3.4rem;
            font-weight: 100;
            line-height: 3rem;
            max-width: 38rem;
        }

        p {
            line-height: 1.3rem;
            font-size: 1.1rem;
            max-width: 38rem;
        }
        form{
            width: 38rem;
        }

    }

    .frontSection-2 {
        .leftColumn {
            margin: 18rem auto 0px auto;

            img{
                left: -410px;
                height: 704px;

            }
            .opacity_div{
                height: 262px;;
                width: 266px;
                left: 139px;
                 opacity:0.6;
            }

            h2 {
                font-size: 3rem;
                font-weight: 100;
                line-height: 3rem;
                max-width: 33rem;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.4rem;
                max-width: 33rem;
            }
        }



        .rightColumn {
            padding: 1rem;
            position: absolute;
            h2 {
                font-size: 18px;
            }

            h4 {
                line-height: 30px;
            }

            p {
                font-size: 18px !important;
            }

            span {
                padding: 0rem 2rem !important;
            }
        }

    }

    .frontSection-3 {
        padding: 16px;

        h2 {
            font-size: 50px !important;
        }

        // .rightColumn {

        // }

    }

    // .frontSection-4 {
    //     h2 {
    //         font-size: 2.5rem;
    //     }

    //     .card {

    //         min-height: 10rem;

    //     img {
    //         padding: 12px;
    //         }

    //     h4 {
    //         font-size: 12px;
    //         }

    //     }

    // }

    .frontSection-5 {

        h2 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 16px;
        }

        p {
            line-height: 16px;
        }

        img {
            height: 100px !important;
            width: 100px !important;
        }

        .row {
            p {
                font-size: 12px !important;
            }
        }

    }


}


@media screen and (max-width:992px) {
    .frontSection-1{
        form{
            width: 30rem;
            padding: 0px;
        }
    }

}

@media screen and (max-width:768px) {
    .frontSection-1 {
         text-align: center;
        // padding: 0rem 0.5rem !important;
        .container-fluid{
            padding: 0rem 1rem !important;
        }
        h1 {
            text-align: left;
            margin:auto;
            font-size: 2.4rem;
            font-weight: 100;
            line-height: 2.5rem;
            max-width: 26rem;
        }
        p{
            text-align: left;
            margin:auto;
            font-size: 1.1rem;
            font-weight: 100;
            line-height: 1.5rem;
            max-width: 26rem;
        }
        form{
            width: 26rem;
        }

    }

}


@media screen and (max-width:480px) {

    .frontSection-1 {
        text-align: center;
        padding: 0rem 1rem !important;
        background-position: initial;



        h1 {

            font-size: 1.87rem;
            font-weight: 100;
            line-height: 1.8rem;
            width: 20rem;
        }
        p{
            text-align: left;
            margin:auto;
            font-size: 0.8rem;
            font-weight: 100;
            line-height: 1.2rem;
            max-width: 26rem;
        }

        form {
            width: 26rem;
        }

    }

    .frontSection-2 {

        padding: 1rem 0rem !important;
        background-position: right !important;

        .leftColumn {
            margin-top: 3rem !important;
        }

        .rightColumn {
            span {
                padding: 0rem 1rem !important;
            }
        }

    }

    .frontSection-3 {

        padding: 2rem 0rem !important;

        .inner {
            padding: 0;
        }
    }

    // .frontSection-4 {

    //     padding: 1rem 0rem !important;

    //     .card {

    //         margin-bottom: 1rem !important;
    //         padding-bottom: 2rem;

    //         img {
    //             padding: 2rem 8rem 0rem !important;
    //         }
    //     }
    // }

    .frontSection-5 {

        padding: 2rem 0rem !important;

    }

    .frontSection-6 {
        padding: 2rem 0rem !important;
    }

    .pricingSection-1 {
        padding:0rem 1rem !important;

        h2 {
            font-size: 50px;
            line-height: 40px;
        }
    }

    .pricingSection-2 {
        padding: 0rem 1rem !important;

        .card {
            padding: 40px !important;
        }

    }

}
.a-right, .a-left{
    background-color: #7cc0fa;
    background-blend-mode: color;
    padding:0px;
}
.rotate-button{
   transform: rotate(180deg);
}
.a-right:hover, .a-left:hover{
  transform: scale(1.2);
  transition: 0.6s ease;
}
.specialized-sm img {
    height: 140px;

    width: 120px;

    margin: auto auto;
}
.fixed-width{
    min-width: 304px;
    min-height: 360px;
}

@media screen and (max-width: 1920px ) {
    .specialized-sm{
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 !important;
    }



}

