//Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100,200,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// Variables
// $primary-color:
// $secondary-color:
// $accent-color:

// Typography
body {

    margin:0;
    padding:0;

    h1, h2, h3, h4, h5, h6, ul, li {
        font-family: 'Oswald', sans-serif;
        margin-bottom: 1rem;
    }

    p, a, button {
        font-family: 'Roboto', san-serif;
    }

}

 //Buttons

.btn-fom {
    border: 1px solid #007bff;
    border-radius: 20px;
    color: #007bff;
    background-color: transparent;
    margin: 10px 0px;
}


.btn-fom:hover {
    background-color: #007bff;
    color: #fff;
}


//Header Start
.header {
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, #646468 0%, transparent 100%);
    z-index: 2;
    justify-content: space-between;
    padding: 0rem 10rem;
}
.mylogo{
    background: url('../../public/assets/images/frontAssets/vajm-header-logo.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    padding:30px;
}
.header-items-left{
    display: flex;

}
.img-container{
    display: inline;
    background-image: url('../../public/assets/images/frontAssets/logo-vajm-whitefont1.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80px;
    min-width: 60px;

}
.img-container i {
    display: inline;
}
.headerActive {
    background-color: #fff;
}
.title {
    display: flex;
    color:#fff;
    width: 140px;
}
.navitems {
    text-decoration: none;
    transition: 0.2s;
    font-weight: 300;
}

.navitemsPlus {
    color: #007bff;
}

.navitems:hover {
    text-decoration: none;
    // border-bottom: 2px solid #fff;
    color: #fff;
}
.header-items-right{
   display: flex;
   justify-content: center;
   align-items: center;

}

.postJobBtn {
    border-radius: 15px;
    font-size: 0.7em;
    border: 1px solid #383232;
    color: #383232;
    width: 80px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.postJobBtn:hover {
    background-color: #fff;
    color: #383232 !important;
}
.btn-signin{
    font-size: 0.65em;
}
.noDeco {
    transition: 0.2s;
    cursor: pointer;
}

.noDeco:hover {
    text-decoration: none;
    color:white;
}

//Header End

//Footer Start

.footerSection {
    background-color: #0a1837;

}

.footerBody {
    width: 900px;
}


.active-bottom.active{
    border-bottom:4px solid;
    border-color: #dee2e6 #dee2e6 #212529 !important;

}

.email-style{
    border-bottom: 1px solid #646464 !important;
    outline:none !important;
    box-shadow: none!important;
    margin-bottom: 20px;
}
.password-style{
    border-bottom: 1px solid #646464 !important;
    outline:none !important;
    box-shadow: none!important;
    margin-bottom: 20px;
}
.button-style{
    margin-top: 100px;
}

//Footer End


