//Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100,200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

// Variables
// $primary-color:
// $secondary-color:
// $accent-color:

// Typography
body {
    margin: 0;
    padding: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li {
        font-family: "Oswald", sans-serif;
        margin-bottom: 1rem;
    }

    p,
    a,
    button {
        font-family: "Roboto", san-serif;
    }
}

// Image

.img-circle {
    width: 200px;
    height: 200px !important;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//Buttons

.btn-fom {
    border: 1px solid #007bff;
    border-radius: 20px;
    color: #007bff;
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px 30px;
}

.btn-fom:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-foh {
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(0, 0, 0, 0);
    padding: 10px 30px;
}

.btn-foh::hover {
    background-color: rgb(255, 255, 255);
    color: #000;
}

.btn-learn {
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid #007bff;
    color: #007bff;
    border-radius: 8px;
    padding: 12px;
}

.btn-learn:hover {
    background-color: #007bff;
    color: #fff;
}

.playIcon {
    background-image: url("../../public/images/frontAssets/icon-playwhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100px;
    margin: 20px auto;
}

//Header Start
.header {
    display: flex;
    top: 0;
    position: fixed;
    width: 100vw;
    background: linear-gradient(180deg, #646468 0%, transparent 100%);
    z-index: 2;
    justify-content: space-between;
    padding: 0rem 10rem;
}
.mylogo {
    cursor: pointer;
    padding: 20px;
}
.header-items-left {
    display: flex;
}
.img-container {
    display: inline;
    height: 80px;
    min-width: 60px;
}
.img-container i {
    display: inline;
}
.headerActive {
    background-color: #fff;
}
.title {
    display: flex;
    color: #fff;
    width: 140px;
}
.navitems {
    text-decoration: none;
    transition: 0.2s;
    font-weight: 300;
}

.navitemsPlus {
    color: #007bff;
}

.navitems:hover {
    text-decoration: none;
    // border-bottom: 2px solid #fff;
    color: #fff;
}
.header-items-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items-right-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postJobBtn {
    border-radius: 15px;
    font-size: 0.7em;
    border: 1px solid #383232;
    color: #383232;
    width: 80px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.postJobBtn:hover {
    background-color: #fff;
    color: #383232 !important;
}
.btn-signin {
    font-size: 0.65em;
}
.noDeco {
    transition: 0.2s;
    cursor: pointer;
}

.noDeco:hover {
    text-decoration: none;
    color: white;
}

//Header End

//Footer Start

.footerSection {
    background-color: #0a1837;
}

.footerBody {
    width: 900px;
}

.active-bottom.active {
    border-bottom: 4px solid;
    border-color: #dee2e6 #dee2e6 #212529 !important;
}

.email-style {
    border-bottom: 1px solid #646464 !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 20px;
}
.password-style {
    border-bottom: 1px solid #646464 !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 20px;
}
.button-style {
    margin-top: 100px;
}
.nav-titles-hamburger {
    display: block;
}
.nav-titles {
    display: block;
}
@media screen and (max-width: 768px) {
    .bo-nav-toggle {
        display: block;
    }
    .nav-toggle {
        display: block;
        position: absolute !important;
    }
    .nav-titles {
        display: none !important;
    }
    .header-items-right {
        display: none !important;
    }
    .header {
        padding: 0;
        // position: absolute;
    }
}
//Footer End
