//AllJobPost Table

.user-dashboard {
    background-color: #ecf6ff;
    height: 100vh;
}

.fullwidth {
    max-width: 1260px !important;
    width: 100%;
    padding: 100px 0px 50px 0px;
}

.container {
    // padding: 100px 0px 10px 0px;

    .breadcrumb {
        .active {
            text-decoration: none;
        }

        color: #6e6e6e;
        background: none !important;
    }

    .table {
        color: #6e6e6e;
        background: #fff;
        border-radius: 10px;
    }
}

.wrapper {
    background: #fff !important;
    padding: 20px;
}

.emp-monitor {
    padding: 20px;
}

.small-nav {
    display: none;
    position: absolute;
    right: 60px;
    top: 54px;
    background-color: #ecf6ff;
    border-radius: 5px;
    width: 140px;
    cursor: pointer;
}
.small-nav ul {
    list-style: none;
    padding: 10px;
    font-size: 12px !important;
    margin: 0;
    text-transform: uppercase;
}

.bo-accordion-nav ul {
    list-style: none;
    padding: 10px;
    font-size: 12px !important;
    margin: 0;
    text-transform: uppercase;
}
.small-nav-list {
    background-color: #ecf6ff;
    cursor: pointer;
}
.small-nav-list:hover {
    background-color: #6e6e6e;
}
.small-nav-link {
    text-decoration: none;
    color: #6e6e6e !important;
    width: 100%;
}
.small-nav-link:hover {
    text-decoration: none;
    color: #ecf6ff !important;
}

.bo-small-nav-list {
    background-color: #ecf6ff;
    cursor: pointer;
}
.bo-small-nav-list:hover {
    background-color: #6e6e6e;
}
.bo-small-nav-link {
    text-decoration: none;
    color: #6e6e6e !important;
    width: 100%;
}
.bo-small-nav-link:hover {
    text-decoration: none;
    color: #ecf6ff !important;
}
