// Variables
// $primary-color:
// $secondary-color:
// $accent-color:

// Typography

body {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Oswald', sans-serif;
        margin-bottom: 1rem;
    }

    p, a, button {
        font-family: 'Roboto', san-serif;
    }

}

