@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;

200;400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

body p,
body a,
body button {
  font-family: "Roboto", san-serif;
}

.frontSection-2,
.frontSection-3,
.frontSection-4,
.frontSection-5,
.frontSection-6 {
  padding: 100px 200px;
}

.frontSection-1 {
  background-image: url(/images/hero_new.jpg?d7cb3d25725f5621833de4cff96995e7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 250px 200px;
}

.frontSection-1 h1 {
  color: #fff;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: -0.3rem;
}

.frontSection-1 p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}

.frontSection-1 .btn-cta {
  min-width: 200px !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  font-size: 1rem !important;
  height: auto;
  margin-bottom: 1rem;
}

.frontSection-1 form {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  min-width: 500px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.frontSection-1 form input,
.frontSection-1 form select {
  height: auto;
  font-size: 1rem;
  color: #c2c2c2;
  margin: 0px 0.5rem;
}

.frontSection-1 form input::-moz-placeholder {
  color: #c2c2c2;
}

.frontSection-1 form input:-ms-input-placeholder {
  color: #c2c2c2;
}

.frontSection-1 form input::placeholder {
  color: #c2c2c2;
}

.frontSection-1 form .btn-search {
  background: linear-gradient(180deg, #00d4ff 0%, #0094ff 54%, #007bff 100%);
  color: #fff;
  border: 0;
}

.frontSection-2 {
  background-image: url("/images/HAND PICKED Updated@2x.jpg?7e201d21b378d835a9ae4321cbf27860");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frontSection-2 .leftColumn {
  padding-top: 300px;
}

.frontSection-2 .leftColumn h2 {
  color: #fff;
  font-weight: 600;
}

.frontSection-2 .leftColumn p {
  padding-top: 2px;
  color: #fff;
  font-weight: 600;
}

.frontSection-2 .rightColumn .card {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 50px 30px;
}

.frontSection-2 .rightColumn .card h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #646464;
  font-size: 30px;
}

.frontSection-2 .rightColumn .card h4 {
  font-size: 40px;
  color: #767676;
}

.frontSection-2 .rightColumn .card p {
  font-size: 26px;
  color: #9c9c9c;
}

.frontSection-2 .rightColumn .card span {
  color: #7d7d7d;
}

.frontSection-2 .rightColumn .card .btn-learn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #007bff;
  color: #007bff;
  border-radius: 8px;
}

.frontSection-2 .rightColumn .card .btn-learn:hover {
  background-color: #007bff;
  color: #fff;
}

.frontSection-2 .btn-hire {
  background-color: #da5252;
  height: 60px;
  border-radius: 5px;
  box-shadow: 4px 5px 5px -1px rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: bold;
}

.frontSection-3 {
  background-image: url("/images/Video Background Image@2x.png?b0fffe6fadb2a9b525383a6e2f92b9a7");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  padding: 100px !important;
}

.frontSection-4 {
  background-color: white;
}

.frontSection-5 {
  background-color: #e1e1e1;
}

.frontSection-6 {
  background-color: #5590d3;
}

.frontSection-6 .bgImg {
  background-image: url(/images/blog-imag01@2x.png?62ceb03a6ddbe3d149373c42520cf9a7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}

.frontSection-6 .userImg {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.frontSection-6 .userContext {
  margin-left: 10px;
  width: 150px;
}

.frontSection-6 .readMoreBtn {
  height: 40px;
  color: blue;
  border: 1px solid blue;
  border-radius: 20px;
}

.chat-container {
  position: relative;
}

.chat-support {
  position: fixed;
  bottom: 10%;
  right: 10%;
  background-image: url(/images/ChatSupportButton@2x.png?ca46a144b662b4901b0778e17ae6e50e);
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100% !important;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* header section */

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif !important;
}

.header {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  background: linear-gradient(180deg, #646468 0%, transparent 100%);
  z-index: 2;
  justify-content: space-between;
}

.header-items-left {
  display: flex;
  margin-left: 8%;
}

.img-container {
  display: inline;
  background-image: url(/images/logo-vajm-whitefont1.png?8643e25de325ced6b05549d72f1e48b6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  min-width: 60px;
}

.img-container i {
  display: inline;
}

.headerActive {
  background-color: #fff;
}

.title {
  display: flex;
  color: #fff;
  width: 140px;
}

.navitems {
  text-decoration: none;
  transition: 0.2s;
  font-weight: 300;
}

.navitemsPlus {
  color: #007bff;
}

.navitems:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.header-items-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.postJobBtn {
  border-radius: 15px;
  font-size: 0.7em;
  border: 1px solid #383232;
  color: #383232;
  width: 80px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.postJobBtn:hover {
  background-color: #fff;
  color: #383232 !important;
}

.btn-signin {
  font-size: 0.65em;
}

.noDeco {
  transition: 0.2s;
  cursor: pointer;
}

.noDeco:hover {
  text-decoration: none;
  color: white;
}

/* footer section */

.footerSection {
  background-color: #0a1837;
}

.footerBody {
  width: 900px;
}

.active-bottom.active {
  border-bottom: 4px solid;
  border-color: #dee2e6 #dee2e6 #212529 !important;
}

.email-style {
  border-bottom: 1px solid #646464 !important;
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 20px;
}

.password-style {
  border-bottom: 1px solid #646464 !important;
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 20px;
}

.button-style {
  margin-top: 100px;
}

.active-bottom.active {
  border-bottom: 4px solid;
  border-color: #dee2e6 #dee2e6 #212529 !important;
}

.email-style {
  border-bottom: 1px solid #646464 !important;
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 20px;
}

.password-style {
  border-bottom: 1px solid #646464 !important;
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 20px;
}

.button-style {
  margin-top: 100px;
}

.progress-steps {
  list-style: none;
  font-size: 10px;
}

.shape {
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.shape-active {
  background-color: rgba(216, 224, 232, 0.5);
}

.line1 {
  position: absolute;
  top: 138px;
  left: 30.8%;
  height: 2px;
  width: 178px;
  background-color: #d8e0e8;
}

.line2 {
  position: absolute;
  top: 138px;
  left: 45%;
  height: 2px;
  width: 178px;
  background-color: #d8e0e8;
}

.line3 {
  position: absolute;
  top: 138px;
  left: 59%;
  height: 2px;
  width: 178px;
  background-color: #d8e0e8;
}

.line-active {
  background-color: #515557;
}

.dot {
  width: 5px;
  height: 5px;
  margin: auto;
  background-color: #d8e0e8;
  border: 1px solid #d8e0e8;
  border-radius: 50%;
}

.dot-active {
  background-color: #515557;
  border: 1px solid #515557;
  z-index: 10;
}

.stepper-container,
.progress-steps {
  min-width: 800px !important;
  max-width: 1400px !important;
}

.progress-steps li {
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 8px;
  color: #d8e0e8;
}

.text-active {
  color: #515557 !important;
}

@media screen and (min-width: 1400px) {
  .line1 {
    left: 36.5%;
    width: 9%;
  }

  .line2 {
    left: 46.5%;
    width: 9%;
  }

  .line3 {
    left: 56.5%;
    width: 9%;
  }
}

.user-dashboard {
  background-color: #ECF6FF;
}

.fullwidth {
  max-width: 1260px !important;
  width: 100%;
  padding: 100px 0px 50px 0px;
}

.container .breadcrumb {
  color: #6e6e6e;
  background: none !important;
}

.container .breadcrumb .active {
  text-decoration: none;
}

.container .table {
  color: #6e6e6e;
  background: #fff;
  border-radius: 10px;
}

.wrapper {
  background: #fff !important;
  padding: 20px;
}

.emp-monitor {
  padding: 20px;
}

.small-nav {
  display: none;
  position: absolute;
  right: 120px;
  top: 40px;
  background-color: #ECF6FF;
  border-radius: 5px;
  width: 120px;
}

.small-nav ul {
  list-style: none;
  padding: 10px;
  font-size: 10px !important;
  margin: 0;
  text-transform: uppercase;
}

.small-nav-list {
  background-color: #ECF6FF;
}

.small-nav-list:hover {
  background-color: #6e6e6e;
}

.small-nav-link {
  text-decoration: none;
  color: #6e6e6e !important;
  width: 100%;
}

.small-nav-link:hover {
  text-decoration: none;
  color: #ECF6FF !important;
}

.banner-offset-items {
  position: absolute;
  width: 100%;
  top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.banner-container {
  border: 1px solid;
  margin: 0 !important;
}

.top-banner {
  display: flex;
  flex-direction: column;
}

.profile-banner-container {
  background: url("/images/HAND PICKED Updated@2x.jpg?7e201d21b378d835a9ae4321cbf27860") no-repeat center;
  background-size: cover;
  height: 300px;
  width: 100% !important;
}

.profile-pic {
  border: 4px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-pic img {
  height: 200px;
}

.space-container {
  background-color: #ecf6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 0px 30px 0px;
}

.col-banner {
  max-width: 100% !important;
}

.card-banner {
  position: relative;
}

.hire-me-btn {
  height: 25px;
  width: 250px;
  margin-bottom: 20px;
  font-size: 10px !important;
  padding: 2px !important;
}

.profile-name {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif !important;
}

.card-banner {
  border-radius: 20px !important;
}

.dash-table-title {
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: none !important;
  color: #767676;
}

.dash-table-content {
  font-size: 12px;
  color: #767676;
  cursor: pointer;
}

.border-bottom {
  border-bottom: none !important;
}

.lsep {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #767676;
  /* old IE */
  background-color: #767676;
  /* Modern Browsers */
}

.business-landing-container {
  height: 100vh;
  padding-bottom: 100px;
  background-color: #ecf6ff;
}

.business-img {
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  background-image: url("/images/HAND PICKED.png?391480a5ec0b0be2a1339d168f86ff94");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 400px;
  box-shadow: 2px 7px 5px 0px rgba(194, 203, 210, 0.75);
  -webkit-box-shadow: 2px 7px 5px 0px rgba(194, 203, 210, 0.75);
  -moz-box-shadow: 2px 7px 5px 0px rgba(194, 203, 210, 0.75);
}

.content-business-landing p {
  font-size: 10px;
}

.title-business-landing h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.back-btn {
  border: 1px solid #747677;
  width: 110px;
  font-size: 10px !important;
  text-transform: uppercase;
}

.proceed-btn {
  width: 110px;
  font-size: 10px !important;
  text-transform: uppercase;
}

.label-business-agree {
  font-size: 8px;
  height: 100%;
}

.business-textarea {
  color: #747677;
  font-size: 12px;
  min-height: 120px;
}

.business-textarea::-moz-placeholder {
  font-size: 10px;
}

.business-textarea:-ms-input-placeholder {
  font-size: 10px;
}

.business-textarea::placeholder {
  font-size: 10px;
}

.browse-logo {
  background-color: #646464;
  color: white;
  border: none;
  width: 100%;
  height: 20px;
  border-radius: 2.5px;
  font-size: 10px;
  text-transform: capitalize;
}

.logo-container {
  height: 100%;
  width: 100%;
  border: 1px solid #646464;
  background-color: white;
}

.skip-check {
  font-size: 10px;
  display: flex;
  padding: 3px;
}

.nav-style {
  background-color: #ecf6ff;
}

.nav-style ul {
  border-bottom: none;
}

.nav-link-style,
.nav-link-style:active {
  background-color: #ecf6ff !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.nav-link-style::before {
  content: "";
  position: relative;
  height: 10px;
  width: 10px;
  top: 10;
  background-color: red;
}

.profile-info-forms-items {
  background-color: white !important;
  border: none !important;
  padding-left: 0 !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #747677 !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 12px !important;
  color: #747677;
}

.jobseeker-landing-container {
  height: 100vh !important;
  background-color: #ecf6ff;
  padding-bottom: 100px;
}

.jobseeker-img {
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  background-image: url("/images/HAND PICKED.png?391480a5ec0b0be2a1339d168f86ff94");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 400px;
  box-shadow: 2px 7px 5px 0px rgba(194, 203, 210, 0.75);
  -webkit-box-shadow: 2px 7px 5px 0px rgba(194, 203, 210, 0.75);
  -moz-box-shadow: 2px 7px 5px 0px rgba(194, 203, 210, 0.75);
}

.content-jobseeker-landing p {
  font-size: 10px;
}

.title-jobseeker-landing h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.back-btn {
  border: 2px solid #747677 !important;
  width: 110px;
  font-size: 10px;
  text-transform: uppercase;
}

.proceed-btn {
  width: 110px;
  font-size: 10px;
  text-transform: uppercase;
}

.label-jobseeker-agree {
  font-size: 8px;
  height: 100%;
}

.personal-info {
  height: 100vh;
  background-color: #ecf6ff;
}

.title-personal-info {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin-top: 40px;
  color: #747677;
}

.personal-info-forms-items {
  background-color: #ecf6ff !important;
  border: none !important;
  padding-left: 0 !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #747677 !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 12px !important;
  color: #747677;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ecf6ff inset !important;
}

.btn-plus {
  background-image: url(/images/icon-plus@2x.png?7344438c20db5c53e7e39837cf34222d);
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
  filter: invert(60%) sepia(40%) saturate(2166%) hue-rotate(137deg) brightness(0%) contrast(98%);
}

.btn-container {
  background-color: #d1d9e0;
  height: 40px;
  border: 1px solid #747677;
  border-radius: 2.5px;
}

.jobseeker-textarea {
  color: #747677;
  font-size: 12px;
  min-height: 120px;
}

.jobseeker-textarea::-moz-placeholder {
  font-size: 10px;
}

.jobseeker-textarea:-ms-input-placeholder {
  font-size: 10px;
}

.jobseeker-textarea::placeholder {
  font-size: 10px;
}

.textarea-review {
  background-color: #ecf6ff !important;
  border: none !important;
  padding-left: 0 !important;
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 12px !important;
  color: #747677;
}

.dash-text {
  text-transform: capitalize;
  font-size: 11px;
  color: #747677;
}

.dash-accordion {
  border: 1px solid transparent;
  outline: none !important;
  border: 1px solid #efeeee;
}

.dash-accordion button {
  font-size: 12px;
  box-shadow: none !important;
}

.boxes {
  border: 4px solid #bce0fd;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #f1f9ff;
  color: #007bff;
  font-size: 10px;
}

.box-outline-none {
  box-shadow: none !important;
  outline: none !important;
}

.placeholder-style {
  font-size: 12px;
}

.placeholder-style::-moz-placeholder {
  font-size: 10px;
  color: #cccccc !important;
}

.placeholder-style:-ms-input-placeholder {
  font-size: 10px;
  color: #cccccc !important;
}

.placeholder-style::placeholder {
  font-size: 10px;
  color: #cccccc !important;
}

