.aboutSection {
    margin-top: -60px;
    background-color: cornflowerblue;
    height: 990px;
}

.about2section {
    background-color: #fff;
}

.cardSize {
    width: 530px;
    top: 200px;
    position: absolute;
    border-radius: 10px;
}

.lowtext {
    color: grey;
}

.text-bold {
    font-weight: bold;
}

.goalsVision {
    background-color: skyblue;
    height: 800px;
}

.card-css {
    border-radius: 20px;
    border: 2px solid #000;
}

.bossKenSection {
    background-color: #007bff;
    height: 850px;
}