@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.frontSection {
    width: 100%;
    margin:0;
    background-image: url(../images/frontAssets/hero_new.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.frontContent {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 10%;
    align-items: flex-start;
    padding-left:10%;
    font-family: 'Oswald', sans-serif;
    font-family: 400;


}


.findOutHowBtn {
    min-width: 200px;
    width: 38%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgb(0,0,0, 0);
    color: #fff;
    font-size: 0.7em;
    height: 35px;
}

.findOutHowBtn:hover {
    background-color: #fff;
    color: #000;
}
.chat-container{
    position: relative;
}
.chat-support{
    position: fixed;
    bottom: 10%;
    right: 10%;
    background-image: url('../images/frontAssets/ChatSupportButton@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.content-container{
    display:flex;
    height: 100%;
    width: 100% !important;
    max-width: none;
    margin: 0;
    padding: 0;
}
.heroimg-text{
    min-width: 400px;
    max-width: 545px;
}
.heroimg-subtext{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em;
    min-width: 380px;
    max-width: 545px;
}

.frontForm {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
}
.form-container{
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    min-width: 500px;
}

.search-form{
    height: 35px;
    font-size: 0.6em;
    width: 32%;
}
.search-form::placeholder{
    color:#c2c2c2 ;
}
.select-form{
    height: 35px;
    font-size: 0.6em;
    color:#c2c2c2 ;
    width: 30%;
}
.others{
    color:#c2c2c2 ;
}
.btn-search{
    width: 30%;
    height: 35px;
    border: 1px solid white;
    background: rgb(0,212,255);
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,148,255,1) 54%, rgba(0,123,255,1) 100%);
    border-radius: 5px;
    font-size: 0.75em;
    font-weight: 100;
    color:white;
    letter-spacing: 1px;
}

