.mediaSection {
    background-image: url('../images/frontAssets/Video\ Background\ Image@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    padding: 100px;
}

@media screen and (min-width: 1400px) {
    .mediaSection {
       padding: 200px;
    }
}

.content {
    max-width: 580px;
    margin: auto;
    color:white;

}

.findOutBtn {
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(0,0,0, 0);
}

.findOutBtn:hover {
    background-color: rgb(255,255,255);
    color: #000;
}

.playIcon {
    background-image: url('../images/frontAssets/icon-playwhite.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border:none;
    height: 80px;
    width: 80px;
    margin:30px auto;
}
