.mediaSection {
    background-color: rgb(104, 104, 104);
    height: 550px;
}

.content {
    margin: 0px 280px;
    text-align: center;
    color: #fff;
}

.findOutBtn {
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(0,0,0, 0);
}

.findOutBtn:hover {
    background-color: rgb(255,255,255);
    color: #000;
}

.playIcon {
    background-color: rgb(0,0,0, 0);
    color: #fff;
}