.teamSection {
    background-color: #e1e1e1;
    height: 550px;
}

.teamsBody {
    color: grey;
    width: 55%;
}

.findOutMoreBtn {
    border: 1px solid #007bff;
    border-radius: 20px;
    color: #007bff;
}

.findOutMoreBtn:hover {
    background-color: #007bff;
    color: #fff;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
